.home-wrap{
  background-color: #f4f7f6;
  // background-image: url('../images/cards-bg.jpg');
}
.article-list {
  max-width: 40em;
  margin-left: auto; 
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
}
.article-card{
  width: 100%;
  padding: $line-height * .5;
  background-color: #fff;
  border: solid 1px #e4e4e4;
  margin: $line-height*.5 0;
  display:block;
  box-shadow:none;
  
  img{width:100%
  }
}
.article-date{
  font-size:0.694em;
  // font-family: $mono;
  line-height: $line-height;  
  // text-align: right;
}
.article-title{
  font-size:0.833em;
  font-weight: 700;
  
}