
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #000;
    box-shadow: inset 0 -6px 0 #c0e6f7;
}
img { 
  max-width: 100%; 
}
.img-top-left{
  // max-height:$line-height * 8; 
  float:none; 
  width:100%;
  // margin:$line-height  0; 
  // vertical-align: top;
  @include for-tablet-portrait-up {
    width:auto;
    max-height:$line-height * 8; 
    float:left; 
    margin:$line-height * .5 $line-height * 1.5  $line-height * .5 0; 
    vertical-align: top;
  }
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw;
}
.full-width  img,
.content-width img{
  margin-bottom:0;
}
.hero-block{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw; 
  margin-right: -50vw;
  height:300px;
  background-size: cover;
  background-position: center;

  @include for-tablet-portait-only {
    height:400px;
  }
  @include for-tablet-landscape-only {
    height:500px;
  }    
  @include for-desktop-up {
    height:500px;
  }
  @include for-big-desktop-up {
    
  }
}
figure {
  
}
figcaption {
  text-align: right;
  font-size:13px;
  color: #666;
  padding:0 10px 0 0;
  margin:0;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.gray-1{
  background-color: #f1f1f1;
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}