p{
  margin: $line-height 0;
}
h1{
  font-size:2.488em;
  font-family: $sans;
  line-height: $line-height * 2.4 ;
  margin: $line-height 0;
  font-weight: 300;
  color: #2D2C2C;
  letter-spacing: -2px;
}
h2{
  font-size:2.074em;
  line-height: $line-height * 2 ;
  margin: $line-height 0;
  font-weight: 400;
  color: #fff;
}
h3{
  font-weight: 700;
}
.posted-date{
  font-size:0.694em;
  // font-family: $mono;
  //line-height: $line-height;
  margin: $line-height 0;
}
.background-block{
  padding-top:$line-height * .25;
  padding-bottom:$line-height * .25;
}

.red-block{
  color: #fff;
  background-color: red;
}
.extra-lh{
  padding-top:$line-height;
}
