// modular scale
// $ms-base: 1em;
// $ms-ratio: $golden;
// fonts
// gat$sans: 'Archivo', sans-serif;
$sans: 'Titillium Web', sans-serif;
$serif: 'Merriweather', serif;
$mono: 'Inconsolata', monospace;
$display: 'Merriweather', serif;
//
$gutter: 1rem;

$line-height: 1.75rem;
$tablet-portrait-line-height: $line-height * 1.2;
$tablet-landscape-line-height: $line-height * 1.2;
$desktop-line-height: $line-height * 1.2;
$big-desktop-line-height: $line-height;
